[Unit]
Description=Wifi Sniffer Service 

[Service]
Type=idle
User=husarion
Group=husarion
ExecStart=/usr/bin/python3 /home/husarion/sniffer_wifi/sniffer.py

[Install] 
WantedBy=multi-user.target
